<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous"/>


    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}"></script>

    <title>Forms</title>
</head>
<body>



<div class="container">
    <h1 class="display-1">Form Page</h1>

<h2 class="m-4">Cats</h2>
<form action="/forms/registerCat/" class="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ catForm.as_p }}

    <input type="submit" value="Register Cat">
</form>



<ul>
    {% for cat in all_cats %}
        <li>{{ cat.name }}</li>
    {% endfor %}
</ul>
<hr>
<h2 class="m-4">Dogs</h2>
<form action="/forms/registerDog/" class="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ dogForm.as_p }}

    <input type="submit" value="Register Dog">
</form>




<ul>
    {% for dog in all_dogs %}
        <li>{{ dog.name }}</li>
    {% endfor %}
</ul>
<hr>
<h2 class="m-4">Animals</h2>
<form action="/forms/registerAnimal/" class="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ animalForm.as_p }}

    <input type="submit" value="Register Animal">
</form>

        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
            {% if message.tags == "error" %}<li class="{{ message.tags }}">{{ message }}</li>{% endif %}
            {% endfor %}
        </ul>
        {% endif %}

<ul>
    {% for animal in all_animals %}
        <li>{{ animal.name }}</li>
    {% endfor %}
</ul>



</div>




</body>
</html>